{% extends "therapist_dashboard/base.html" %}
{% block content %}
	<br><br>
<div class="container">
	<div class="row">

		<div class="col-lg-8 offset-lg-2" style="font-size: 1.5rem;">
			Dear user,<br><br>

			You can use this website to answer questions from patients, about mental health and mental illnesses.<br><br>
			We request you to keep your login credentials a secret and respect patients' privacy.<br><br>
			You can find questions for you in Questions for you page in this website.
			<br><br>
			You can also browse the community forum and answer any questions that you want to, or provide the correct answers<br>
			if you find that somebody is spreading misleading information.<br><br>

			Thank you for choosing to volunteer with our platform!<br>



		</div>
	</div>
</div>

{% endblock %}